.NetworthBox {
    width: 100%;
    height: 100%;
}

.NetWorthTab {
    margin: 15px;
    width: calc(100%-15px);
    height: 120px;
    border-radius: 25px;
    background: linear-gradient(0.55turn, rgba(255, 255, 255, 0.13), rgba(255, 255, 255, 0) );
    border: 0.1em solid rgba(255, 255, 255, 0.123);
    -webkit-box-shadow: 3px 10px 41px 9px rgba(0,0,0,0.06);
    -moz-box-shadow: 3px 10px 41px 9px rgba(0,0,0,0.06);
    box-shadow: 3px 10px 41px 9px rgba(0,0,0,0.06);
}

.NetWorthNumber {
    float: left;
    font-size: 3rem;
    margin-left: 30px;
    margin-top: 10px;
    color: rgb(48, 48, 48);
    text-shadow: 5px 5px 20px rgba(31, 31, 31, 0.466);
}

.BigLineChartBox {
    margin: 15px;
    width: 100%;
    height: 60%;
}

.RightSide {
    float: right;
    margin: 15px;
}

/* ######## SWITCH ######### */
.form-switch {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
  }
  
.form-switch i {
    position: relative;
    display: inline-block;
    margin-right: .5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
    margin-top: -4px;
    vertical-align: middle;
}

.form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}

.form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: #4BD763; }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }

.LeftLabel {
    display: inline-block;
    margin-right: 8px;
}

/* Graph text */
line + text {
    fill: rgb(150, 150, 150) !important;
}

line {
    opacity: 0.4;
}
