.NetWorthTab {
    margin: 15px;
    width: calc(100%-15px);
    height: 150px;
    border-radius: 25px;
    background: linear-gradient(0.55turn, rgba(255, 255, 255, 0.13), rgba(255, 255, 255, 0) );
    backdrop-filter: blur(4px);
    border: 0.1em solid rgba(255, 255, 255, 0.123);
}

.NetWorthNumber {
    font-size: 4rem;
    margin-left: 30px;
    margin-top: 10px;
    color: rgb(48, 48, 48);
    text-shadow: 5px 5px 20px rgba(31, 31, 31, 0.466);
}