.App {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  height: 100%; 
  max-height: 100%; 
}

.background {
  background: rgb(128,209,252);
  background: linear-gradient(159deg, rgba(128,209,252,1) 0%, rgba(132,98,237,1) 41%, rgba(212,81,113,1) 73%, rgba(243,213,189,1) 100%);
  height: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  position: fixed;
  top: 0; 
  left: 110px; /* Width of sidebar */
  right: 0;
  bottom: 0;
  overflow: auto; 
  z-index: -1; /* For the plus button box to be in front */
}