table {
    display: table;
    padding-top: 10px;
}
  
.table-container {
    padding: 0;
    position: relative;
    height: 300px;
}

.uk-table {
    width: 100%;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 10px;
}

.uk-table-hover tbody tr:hover, .uk-table-hover>tr:hover {
    background-color: rgba(240, 248, 255, 0.342);
    cursor: pointer;
}

.uk-table td {
    padding: 5px;
    vertical-align: middle;
    border-collapse: separate; 
}

.uk-overflow-auto {
    height: 38vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    border-collapse: collapse; 
}

tr.expandable > td {
    box-shadow: inset 0 3px 6px -3px rgba(0, 0, 0, 0.2);
    padding: 0;
}

tr.expandable > td > .inner {
    margin: 15px;
    overflow: hidden;
    height: 100%;
}

.Row {
    width: 100%;
    height: 80px;
}

table { 
    border-collapse: separate; 
    border-spacing: 0px; 
}

.RowShadow {
    -webkit-box-shadow: 0px 0px 58px -20px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 58px -20px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 58px -20px rgba(0,0,0,0.3);
}

.TableTab {
    border: solid 1px rgba(255, 255, 255, 0.151);
    border-style: solid none;
    background-color: rgba(255, 255, 255, 0.089);
}

td:first-child {
    border-left-style: transparent;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;
}

td:last-child {
    border-right-style: transparent;
    border-bottom-right-radius: 20px; 
    border-top-right-radius: 20px; 
}

.InfoBox {
    margin-top: 20px;
    padding-left: 40px;
}

.InfoGrid {
    float: left;
    display: grid;
    grid-template-columns: auto auto;
    width: 50%;
    margin-top: 20px;
}

.DetailLabel {
    margin: 20px;
}

.stockDetailGraph {
    float: right;
    width: 50%;
    height: 30vh;
    margin-top: -20px;
    z-index: 3;
}