.LoadingBox2 {
    height: 100%;
    width: 100%;
}

.PieBox {
    height: 100%;
    width: 100%;
}

.Panel2Title {
    margin: 0;
    margin-top: 15px;
    margin-bottom: -25px;
    margin-left: 40%;
    font-size: larger;
    color: #303030;
}

