.LoadingBox2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;    
    margin-left: auto;
    margin-right: auto;
}

.PieBox {
    height: 100%;
    width: 100%;
}

.Panel2Title {
    margin: 0;
    margin-top: 15px;
    margin-bottom: -25px;
    margin-left: 40%;
    font-size: larger;
    color: #303030;
}

.LoadingDiv {
    margin-top: 170px;
}

.Panel2Loading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

/* LOADING STYLE IN DIVIDENDMETER.CSS */