.Sidebar {
    position: absolute;
    width: 110px;
    height: 100%;
    background-color: rgb(255, 255, 255); /* Change this to see actual size of sidebar */
    top: 0;
    bottom: 0; 
    left: 0;
    overflow: hidden; /* Disable scrollbars. Set to "scroll" to enable */
}

.SidebarButtons {
    margin-top: 8vh;
    display: flex;
    justify-content: center;
}

#Logo {
    top: 0; /* Stick it to top */
    padding-top: 1vh; /* Little extra space for logo */
    width: 100px;
    padding-left: 3px;
}

.Dashboards {
    padding: 2vh;
    margin-left: -4px;
    opacity: 0.7;
}

.DashboardLogo {
    width: 40px;
    transition: all .05s ease-in-out;
}

.DashboardLogo:hover {
    transform: scale(1.2);
    opacity: 0.4;
}

.VersionBox {
    position: absolute;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Version text to the bottom */
    bottom: 0;
}

.Version {
    color: rgb(131, 131, 131);
    padding-bottom: 1vh;
}
